.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
}

.mapContainer {
  height: 100vh;
  width: 100%;
}

:global(.cesium-viewer-bottom) {
  display: none;
}
